body {

  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 32px;
  text-align: left;
  margin: 0;
}

#bar {

  background: #474747;
  height: 55px;
}

#wrap {

  width: 700px;
  margin: auto;
}

article {

  position: relative;
  top: -16px;
}

article header h1 {

  font-weight: normal;
  margin: 0;
}

header.top h1 {

  font-size: 28px;
  position: relative;
  top: -44px;
  color: white;
  font-weight: normal;
  margin: 0;
  width: 14%;
}

header.top h1 a {

  color: #fff;
  text-decoration: none;
}

header.top nav ul {

  list-style-type: none;
  margin: 0;
  display: inline;
  padding: 0;
}

header.top nav {

  float: right;
  margin: -34px 0 0 0;
  text-align: right;
  width: 85%;
  position: relative;
  top: -42px;
}

header.top nav ul li {

  display: inline;
  padding: 0 0 0 10px;
  color: #fff;
}

header.top nav ul li a {

  color: #fff;
  text-decoration: none;
}

header.top nav ul li a:hover {

  text-decoration: underline;
}

@media screen and (max-width: 700px) {

  #wrap {

    width: 90%;
    margin: auto;
  }
}

footer {

  text-align: center;
  color: #333;
  margin-top: 16px;
  margin-bottom: 32px;
}

footer a {

  color: blue;
  text-decoration: none;
}

footer a:hover {

  text-decoration: underline;
}

a {

  color: blue;
  text-decoration: underline;
}

a:hover {

  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {

  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin: 0;
}

h3 {

  font-size: 26px;
}

form label {

  font-weight: bold;
  display: block;
}

form input[type="text"], form input[type="password"], form input[type="email"] {

  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 32px;
}

input[type="submit"] {

  background: #fff;
  outline: 0;
  border: 1px solid #ddd;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 35px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 32px;
}

input[type="submit"]:hover {

  background: #f9f9f9;
  cursor: pointer;
}

form textarea {

  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-bottom: 32px;
}

form #body {

  height: 300px;
}

.success {

  color: green;
  display: block;
  margin-bottom: 16px;
}

.failure {

  color: red;
  display: block;
  margin-bottom: 16px;
}

table {

  table-layout: fixed;
  width: 100%;
}

td {

  padding: 0;
}

th {

  font-family: "Open Sans", sans-serif;
  text-align: left;
}

table.extensions th:nth-of-type(2), table.extensions td:nth-of-type(2) {

  text-align: right;
}

th:nth-of-type(2) {

  text-align: center;
}

th:nth-of-type(3) {

  text-align: right;
}

td:nth-of-type(2) {

  text-align: center;
}

td:nth-of-type(3) {

  text-align: right;
}

a.button {

  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  width: 45%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 32px;
}

a.button:nth-of-type(2) {

  float: right;
}

a.button_return {

  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 32px;
}

a.button:hover {

  background: #f9f9f9;
  cursor: pointer;
}

a.button_return:hover {

  background: #f9f9f9;
  cursor: pointer;
}

input[type="checkbox"] {

  margin-bottom: 32px;
}

table.two-column {

  border: 1px solid #ddd;
  padding: 20px;
}

table.two-column th:nth-of-type(2), table.two-column td:nth-of-type(2) {

  text-align: right;
}
