html, body {

  margin: 0;
  padding: 0;
}

body {

  background: #fff;
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #555;
  line-height: 35px;
  text-align: left;
}

#wrap {

  width: 650px;
  margin: auto;
}

header.top {

  margin: 30px 0 29px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 35px;
  text-align: center;
}

header.top h1 {

  font-family: "PT Sans", sans-serif;
  font-size: 38px;
  margin: 0;
  font-weight: normal;
}

header.top h1 a {

  color: #555;
  text-decoration: none;
}

header.top h1 a:hover {

  color: #999;
  text-decoration: none;
}

header.top nav ul {

  list-style-type: none;
  margin: 0;
  display: inline;
  padding: 0;
}

header.top nav {

  border-top: 1px solid #ddd;
  margin: 32px 0 -11px 0;
  padding-top: 24px;
}

header.top nav ul li {

  display: inline;
  padding: 0 10px 0 10px;
  font-size: 22px;
}

header.top nav ul li a {

  color: #888;
  text-decoration: none;
}

header.top nav ul li a:hover {

  color: #555;
}

article {

  margin-bottom: 29px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
}

article header h2 {

  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  margin: 0 0 17px 0;
  font-weight: normal;
}

footer {

  text-align: center;
  color: #888;
  margin-top: -6px;
  margin-bottom: 24px;
}

footer a {

  color: #888;
  text-decoration: none;
}

footer a:hover {

  color: #555;
}

a {

  color: #888;
  text-decoration: underline;
}

a:hover {

  color: #555;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {

  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  margin: 0;
}

h3 {

  font-size: 26px;
}

table.tags, table.links, table.pages, table.users, table.posts {

  border-top: 1px solid #ddd;
  padding-top: 38px;
}

form label {

  font-weight: bold;
  display: block;
}

form input[type="text"], form input[type="password"], form input[type="email"] {

  background: #fff;
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #505050;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 35px;
}

input[type="submit"] {

  background: #fff;
  outline: 0;
  border: 1px solid #ddd;
  padding: 5px;
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #555;
  line-height: 35px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 35px;
}

input[type="submit"]:hover {

  background: #f9f9f9;
  cursor: pointer;
}

form textarea {

  background: #fff;
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #555;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-bottom: 35px;
}

form #body {

  height: 300px;
}

.success {

  color: green;
  display: block;
  margin-bottom: 35px;
}

.failure {

  color: red;
  display: block;
  margin-bottom: 35px;
}

table {

  table-layout: fixed;
  width: 100%;
  margin-top: 45px;
}

td {

  padding: 0;
}

th {

  font-family: "PT Sans", sans-serif;
  text-align: left;
}

table.extensions th:nth-of-type(2), table.extensions td:nth-of-type(2) {

  text-align: right;
}

th:nth-of-type(2) {

  text-align: center;
}

th:nth-of-type(3) {

  text-align: right;
}

td:nth-of-type(2) {

  text-align: center;
}

td:nth-of-type(3) {

  text-align: right;
}

a.button {

  background: #fff;
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #505050;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  width: 45%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 35px;
}

a.button:nth-of-type(2) {

  float: right;
}

a.button_return {

  background: #fff;
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #505050;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 35px;
}

a.button:hover {

  background: #f9f9f9;
  cursor: pointer;
}

a.button_return:hover {

  background: #f9f9f9;
  cursor: pointer;
}

input[type="checkbox"] {

  margin-bottom: 35px;
}
