html, body {

  position: relative;
  top: 18px;
}

body {

  background: #fff;
}

#wrap {

  width: 45%;
  margin: auto;
}

header.top {

  border-bottom: 1px solid #ddd;
  padding-bottom: 34px;
  margin-bottom: 53px;
}

header nav {

  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #929292;
  text-align: right;
  position: relative;
  top: -52px;
  width: 80%;
  float: right;
}

header nav ul {

  list-style-type: none;
}

header nav ul li {

  display: inline;
  padding: 0 0 0 20px;
}

header nav ul li a {

  color: #929292;
  text-decoration: none;
}

header nav ul li a:hover {

  color: #505050;
}

header h1 {

  font-family: "Droid Sans", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  color: #2b2b2b;
  font-weight: bold;
  width: 30%;
}

header h1 a {

  color: #2b2b2b;
  text-decoration: none;
}

header h1 a:hover {

  color: #505050;
}

main article {

  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #505050;
  line-height: 35px;
  padding-bottom: 41px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 48px;
}

main article header h2 {

  font-family: "Droid Sans", sans-serif;
  font-size: 38px;
  color: #2b2b2b;
  font-weight: bold;
  line-height: 51px;
  margin: -6px 0 25px 0;
}

footer {

  color: #929292;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-bottom: 34px;
}

a {

  color: #929292;
  text-decoration: underline;
}

a:hover {

  color: #505050;
}

table.tags, table.links, table.pages, table.users, table.posts {

  border-top: 1px solid #ddd;
  padding-top: 38px;
}

form label {

  font-weight: bold;
  display: block;
}

form input[type="text"], form input[type="password"], form input[type="email"] {

  background: #fff;
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #505050;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 35px;
}

form input[type="submit"] {

  background: #fff;
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #505050;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

form input[type="submit"]:hover {

  background: #fafafa;
  cursor: pointer;
}

form textarea {

  background: #fff;
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #505050;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-bottom: 35px;
}

.success {

  color: green;
  display: block;
  margin-bottom: 35px;
}

.failure {

  color: red;
  display: block;
  margin-bottom: 35px;
}

table {

  table-layout: fixed;
  width: 100%;
  margin-top: 45px;
}

td {

  padding: 0;
}

th {

  font-family: "Droid Sans", sans-serif;
  text-align: left;
}

table.extensions th:nth-of-type(2), table.extensions td:nth-of-type(2) {

  text-align: right;
}

th:nth-of-type(2) {

  text-align: center;
}

th:nth-of-type(3) {

  text-align: right;
}

td:nth-of-type(2) {

  text-align: center;
}

td:nth-of-type(3) {

  text-align: right;
}

a.button {

  background: #fff;
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #505050;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  width: 45%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 35px;
}

a.button:nth-of-type(2) {

  float: right;
}

a.button_return {

  background: #fff;
  font-family: "PT Serif", serif;
  font-size: 18px;
  color: #505050;
  line-height: 35px;
  border: 1px solid #ddd;
  outline: 0;
  padding: 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 35px;
}

a.button:hover {

  background: #fafafa;
  cursor: pointer;
}

a.button_return:hover {

  background: #fafafa;
  cursor: pointer;
}

input[type="checkbox"] {

  margin-bottom: 35px;
}
