body {

  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 32px;
  text-align: left;
  margin: 0;
}

#bar {

  background: #3ca9e7;
  height: 55px;
}

#wrap {

  width: 700px;
  margin: auto;
}

article {

  position: relative;
  top: -16px;
}

article header h1 {

  font-weight: normal;
  margin: 0;
}

header.top h1 {

  font-size: 28px;
  position: relative;
  top: -44px;
  color: white;
  font-weight: normal;
  margin: 0;
  width: 39%;
}

header.top h1 a {

  color: #fff;
  text-decoration: none;
}

header.top nav ul {

  list-style-type: none;
  margin: 0;
  display: inline;
  padding: 0;
}

header.top nav {

  float: right;
  margin: -34px 0 0 0;
  text-align: right;
  width: 60%;
  position: relative;
  top: -42px;
}

header.top nav ul li {

  display: inline;
  padding: 0 0 0 10px;
  color: #fff;
}

header.top nav ul li a {

  color: #fff;
  text-decoration: none;
}

header.top nav ul li a:hover {

  background: #fff;
  color: #3ca9e7;
  padding: 5px;
  margin: -5px;
  border-radius: 3px;
}

@media screen and (max-width: 700px) {

  #wrap {

    width: 90%;
    margin: auto;
  }
}

a {

  color: #3ca9e7;
  text-decoration: none;
}

a:hover {

  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {

  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin: 0;
}

h3 {

  font-size: 26px;
}

form label {

  font-weight: bold;
  display: block;
}

select {

  height: 47px;
}

form input[type="text"], form input[type="password"], form input[type="email"], select {

  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 35px;
  border: 1px solid #ccc;
  outline: 0;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 32px;
}

input[type="submit"] {

  background: #fff;
  outline: 0;
  border: 1px solid #ccc;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 35px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 32px;
}

input[type="submit"]:hover {

  background: #f9f9f9;
  cursor: pointer;
}

form textarea {

  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 35px;
  border: 1px solid #ccc;
  outline: 0;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  margin-bottom: 32px;
}

form #body {

  height: 300px;
}

.success {

  color: #3ca9e7;
  display: block;
  margin: 16px 0 16px 0;
}

.failure {

  color: #e73c3c;
  display: block;
  margin: 16px 0 16px 0;
}

table {

  width: 100%;
  background: #fff;
  margin-bottom: 32px;
}

td {

  padding: 0;
}

th {

  font-family: "Open Sans", sans-serif;
  text-align: left;
}

table.extensions th:nth-of-type(2), table.extensions td:nth-of-type(2) {

  text-align: right;
}

th:nth-of-type(2) {

  text-align: center;
}

th:nth-of-type(3) {

  text-align: right;
}

td:nth-of-type(2) {

  text-align: center;
}

td:nth-of-type(3) {

  text-align: right;
}

a.button {

  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 35px;
  border: 1px solid #ccc;
  outline: 0;
  padding: 5px;
  width: 45%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 32px;
}

a.button:nth-of-type(2) {

  float: right;
}

a.button_return {

  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 35px;
  border: 1px solid #ccc;
  outline: 0;
  padding: 5px;
  width: 100%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-top: 32px;
}

a.button:hover {

  background: #f9f9f9;
  cursor: pointer;
}

a.button_return:hover {

  background: #f9f9f9;
  cursor: pointer;
}

input[type="checkbox"] {

  margin: 0 4px 32px 0;
  outline: 0;
  cursor: pointer;
}

table.two-column {

  border: 1px solid #ccc;
  padding: 20px;
}

table.two-column th:nth-of-type(2), table.two-column td:nth-of-type(2) {

  text-align: right;
}

table.two-column td:nth-of-type(1) {

  width: 80%;
}

a.button:active, a.button_return:active, input[type="submit"]:active {

  background: #f5f5f5;
}

input[type="checkbox"]:before {

  position: relative;
  display: block;
  width: 11px;
  height: 11px;
  border: 1px solid #ccc;
  content: "";
  background: #fff;
}

input[type="checkbox"]:after {

  position: relative;
  display: block;
  left: 2px;
  top: -11px;
  width: 9px;
  height: 9px;
  border: 0;
  content: "";
}

input[type="checkbox"]:checked:after {

  background: #bbb;
}
